.editor {
  margin-top: 15px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.editor__container {
  height: 100%;
}

.editor__wrapper {
  display: grid;
  height: 100%;
  grid-template: 1fr / 1fr 1fr;
  column-gap: 15px;
}

.editor__editor,
.editor__preview {
  gap: 10px;
  display: grid;
  grid-template: auto 1fr / 1fr;
}

.editor__header {
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.editor__body {
  position: relative;
  margin-bottom: 15px;
  min-height: 300px;
}

.editor__copy {
  padding: 5px;
  border-radius: 10px;
  font-size: 16px;
  color: var(--white);
  background-color: var(--dark-blue);
  line-height: 1.1;
  cursor: pointer;
}

.editor__label,
.editor__previewTitle {
  display: inline-flex;
  align-items: center;
  height: 100%;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 700;
}

.editor__textarea,
.editor__previewContent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  padding: 10px;
}

.editor__textarea {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.5) var(--dark-blue);
  resize: none;
  outline: none;
  line-height: 1.3;
  font-size: 18px;
  font-family: 'Roboto Mono', monospace;
  background-color: var(--dark-blue);
  color: var(--white);
  transition: box-shadow 0.3s;
  width: 100%;
  height: 100%;
}

.editor__textarea:focus {
  box-shadow: 0 0 12px var(--dark-blue);
}

.editor__textarea::-webkit-scrollbar {
  width: 12px;
}

.editor__textarea::-webkit-scrollbar-track {
  background: var(--dark-blue);
}

.editor__textarea::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  border: 2px solid var(--dark-blue);
}

.editor__previewContent {
  background-color: var(--white);
  border: 2px solid var(--dark-blue);
  overflow: hidden;
}

.editor__previewContent * {
  line-height: 1.3;
}

.editor__previewContent h1,
.editor__previewContent h2,
.editor__previewContent h3 {
  padding-bottom: 5px;
  border-bottom: 1px solid var(--light-grey);
}

.editor__previewContent h1 {
  font-size: 32px;
}

.editor__previewContent h2 {
  font-size: 24px;
}

.editor__previewContent h3 {
  font-size: 19px;
}

.editor__previewContent h4 {
  font-size: 16px;
}

.editor__previewContent img {
  display: block;
  max-width: 90%;
  margin: 0 auto;
}

.editor__previewContent ul {
  display: block;
  list-style-type: disc;
  padding-inline-start: 30px;
}

.editor__previewContent ol {
  display: block;
  list-style-type: auto;
  padding-inline-start: 30px;
}

.editor__previewContent pre {
  background-color: #282c34;
  padding: 10px;
}

.editor__previewContent code {
  background-color: #282c34;
  color: #abb2bf;
}

.editor__previewContent blockquote {
  border-left: 3px solid #224b4b;
  color: #224b4b;
  padding-left: 5px;
  margin-left: 25px;
}

.editor__previewContent h5,
.editor__previewContent h6,
.editor__previewContent p,
.editor__previewContent code,
.editor__previewContent blockquote {
  font-size: 16px;
  font-weight: 400;
}

.editor__previewContent h1,
.editor__previewContent h2,
.editor__previewContent h3,
.editor__previewContent h4,
.editor__previewContent h5,
.editor__previewContent h6,
.editor__previewContent p,
.editor__previewContent code,
.editor__previewContent blockquote,
.editor__previewContent pre,
.editor__previewContent table,
.editor__previewContent ul,
.editor__previewContent ol {
  margin-bottom: 20px;
  width: auto;
}

@media (max-width: 768px) {
  .editor__wrapper {
    grid-template: 1fr 1fr / 1fr;
  }
}

@media (max-width: 375px) {
  .editor__label {
    display: none;
  }

  .editor__copy {
    width: 100%;
  }
}
