.error {
  margin: 100px 0;
}

.error__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.error__title {
  font-size: 100px;
  text-align: center;
}

.error__text {
  font-size: 30px;
  text-align: center;
  line-height: 1.3;
}

@media (max-width: 768px) {
  .error {
    margin: 75px 0;
  }
}
